llama-index
llama-index-readers-file
llama-index-llms-openai
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
sentence-transformers
pymupdf4llm

python-dotenv
tqdm
pydantic

fastapi
uvicorn

requests
beautifulsoup4
lxml

chromadb
streamlit


